<html lang="en">
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome, {{name}}!</h1> <br>
    <h3>Your current attendance is {{attendanceCount}} out of {{totalAttendance}}!</h3> <br>
    <a href="/attendance">Give Attendance</a> <br>
    <a href="/logout">Logout</a>
  </body>
<html>